{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Publicações</title>
</head>

{% include 'navbar.html' %}

<body class='bg-dark'>
    <div class='container bg-dark'>
        <ul class="list-group">
            {% if messages %}
            <li class="list-group-item">
                {% for m in messages %}
                    {{m}}
                {% endfor %}
            </li>
            {% endif %}
            <li class="list-group-item d-flex justify-content-center">
                {% if user.is_authenticated %}
                <form method=POST class='form-inline'>
                    <div class="form-group ">
                        {% csrf_token %}
                        <ul class="list-group align-center">
                            {% for f in postForm %}
                            <li class="list-group-item">
                                {{f.label}}
                                {{f}}
                            </li>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Submit</button>   
                        </ul>
                    </div>
                    </form>
                {% endif %}
            </li>
            <li class="list-group-item d-flex justify-content-center">
                <div class="container p-1">
                    <div class="row p-1">
                    {% for p in postspaginator %}
                        <div class="col p-5">
                            <a href="{{p.get_vizualizacao_url}}">
                                <div class="card row" style="width: 18rem;">
                                    <div class="card-body col" style="min-height:300px">
                                        <h5 class="card-title">{{p.titulo}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">@{{ p.usuario }}</h6>
                                        <p class="card-text">{{p.verMiniatura}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% empty %}
                        <br>Ainda não foram cadastradas publicações
                    {% endfor %}
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-center">
                {% include 'paginator.html' %}
            </li>
        </ul>
    </div>
</body>
</html>