{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <title>Document</title>
</head>

<body class='align-middle p-5' >
    <form action="" method="POST" class='d-flex justify-content-center' >
        {% csrf_token %}
        {% for e in form.errors %}
        {{e}}
        {% endfor %}
        <div class="container">
            <ul class=" list-group d-flex justify-content-center p-5" style='heigth:200px'>
                {% for f in form %}
                    <li class="list-group-item d-flex justify-content-around p-4  border-0" >
                        <div class="form-group form-inline ">
                            {{f.errors}}
                            <div class="col-sm-10">
                                {{f}}
                            </div>
                        </div>        
                    </li>    
                {% endfor %}        
                <li class="list-group-item d-flex justify-content-around p-4  border-0" >
                    <div class="form-group form-inline ">                
                        <div class="form-group form-inline ">
                            <a href="{% url 'registro_view' %}"><button class='btn btn-light'>Cadastrar</button></a>
                            <button class="btn btn-primary" type="submit" class=''>Entrar</button>   
                        </div>
                    </div>        
                </li>    
            </ul>
        </div>
    </form>
</body>
</html>
